   @import "tailwindcss";

   @theme {
     --font-inter: "Inter", sans-serif;
     --color-brandPink: #FA18D0;
     --color-brandPink-100: #FBEEF9;
     --color-brandPinkHover: #D705B0;
     --color-brandPinkDisabled: rgba(250, 24, 208, 0.4);
     --color-brandBlack: #12100C;
     --color-brandAsh: #645E63;
     --color-brandAsh-100: #CED8E3;
     --color-brandAsh-200: #686868;
     --color-brandAsh-300: #F3F1F3;
     --color-brandAsh-400: #CECACD;
     --color-brandAsh-500: #9C969B;
     --color-brandAsh-600: #F6F4F6;
     --color-brandAsh-700: #7D8191;
     --color-brandAsh-800: #EFECEF;
     --color-brandAsh-900: #E7E4E6;
     --color-brandAshBold: #C2BCC1;
     --color-brandRed: #F43F5E;
     --color-brandRed-100: #DF2D2D;
     --color-brandGreen: #16A34A;
     --color-brandGreen-100: #11813C;
     --color-brandOrange:#C2410C;
     --color-brandOrange-100: #FFF7EA;
     --color-brandPurple: #6D28D8;
     --color-brandPurple-100: #F5F3FF;
     --text-size13: 13px;
     --text-size16: 16px;
     --text-size32: 32px;
     --shadow-sm: 0px 2px 4px 0px hsla(240, 9%, 46%, 0.12), 0px 0px 8px 0px hsla(240, 9%, 46%, 0.07), 0px 32px 13px 0px hsla(240, 9%, 46%, 0.01);
     --shadow-formblock: 0px 0px 1px 0px #00000029, 0px 1px 4px 0px #00000014;
     --shadow-light: 0px 1px 2px 0px #00000014;
     --radius-size5: 5px;
     --radius-size100: 100px;

     @keyframes scrollVertical {
       0% {
         transform: translateY(0);
       }

       100% {
         transform: translateY(-100vh);
       }
     }

     --animate-scrollLoop: scrollVertical 30s linear infinite;
   }


   #root {
     margin: 0;
     padding: 0;
   }

   .logo {
     height: 6em;
     padding: 1.5em;
     will-change: filter;
     transition: filter 300ms;
   }

   .logo:hover {
     filter: drop-shadow(0 0 2em #646cffaa);
   }

   .logo.react:hover {
     filter: drop-shadow(0 0 2em #61dafbaa);
   }

   @keyframes logo-spin {
     from {
       transform: rotate(0deg);
     }

     to {
       transform: rotate(360deg);
     }
   }

   @media (prefers-reduced-motion: no-preference) {
     a:nth-of-type(2) .logo {
       animation: logo-spin infinite 20s linear;
     }
   }

   .campaignTabWrapper .ant-tabs .ant-tabs-tab {
     font-weight: 400;
   }

   .campaignTabWrapper .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
     font-weight: 500;
   }

   .campaignTabWrapper .ant-tabs-top>.ant-tabs-nav::before {
     border-bottom: 1px solid var(--color-brandAsh-900);
   }

   .tableWrapper .ant-table-wrapper table {
     border: 1px solid var(--color-brandAsh-900);
     border-radius: 10px;
   }

   .tableWrapper .ant-table-wrapper .ant-table-thead>tr>th {
     font-weight: 500;
     font-size: 14px;
     color: var(--color-brandAsh-500);
   }

   .stepwrapper {}

   .stepwrapper .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
     background-color: transparent;
     border-color: var(--color-brandAsh);
    color: var(--color-brandAsh);
   }

   .stepwrapper .ant-steps-item .ant-steps-item-process .ant-steps-item-active {
     background-color: red;
   }

   .stepwrapper .ant-steps .ant-steps-item-process .ant-steps-item-icon {
     background-color: transparent;
     border: 1px solid var(--color-brandPink);
   }

   .stepwrapper .ant-steps .ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon {
     color: var(--color-brandPink);
   }

   .stepwrapper .ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
     color: var(--color-brandPink);
     font-size: 14px;
     font-weight: 500;
   }

   .stepwrapper .ant-steps .ant-steps-item-wait .ant-steps-item-icon {
     background-color: transparent;
     border: 1px solid var(--color-brandAsh);
   }

   .stepwrapper .ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
     color: var(--color-brandAsh);
     font-size: 14px;
     font-weight: 400;
   }

   .ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
     width: 0;
   }

   .stepwrapper .ant-steps .ant-steps-item {
     flex: none;
   }

     .stepwrapper .anticon svg {
    color:var(--color-brandAsh);
   }

   .radioWrapper .ant-radio-button-wrapper {
     border: 1px solid var(--color-brandAsh-900);
     border-radius: var(--radius-lg);
   }

   .test .ant-radio-button-wrapper {
     border: 1px solid var(--color-brandAsh-900);
     border-radius: 100px;
   }

   .radioWrapper .ant-radio-button-wrapper:not(:first-child)::before {
     width: 0;
   }

   .radioWrapper .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
     border: 1px solid var(--color-brandPink);
     background-color: #FDF7FC;
     color: var(--color-brandBlack);
   }

   .radioWrapper .ant-radio-button-wrapper:hover {
     color: var(--color-brandBlack);
   }

   .radioWrapper .ant-radio-button-wrapper {
     height: auto;
     padding-inline: 0px;
   }