   @import "tailwindcss";

   @theme {
     --font-inter: "Inter", sans-serif;
     --color-brandPink: #FA18D0;
     --color-brandPinkDisabled: rgba(250, 24, 208, 0.4);
     --color-brandBlack: #12100C;
     --color-brandAsh: #645E63;
     --color-brandAsh-100: #CED8E3;
     --color-brandAsh-200: #686868;
     --color-brandAsh-300: #F3F1F3;
     --color-brandAsh-400: #CECACD;
     --color-brandAsh-500: #9C969B;
     --color-brandAsh-600: #F6F4F6;
     --color-brandAsh-700: #7D8191;
     --color-brandAsh-800: #EFECEF;
     --color-brandRed: #F43F5E;
     --color-brandRed-100: #DF2D2D;
     --color-brandGreen: #16A34A;
     --text-size13: 13px;
     --text-size32: 32px;
     --shadow-sm: 0px 2px 4px 0px hsla(240, 9%, 46%, 0.12), 0px 0px 8px 0px hsla(240, 9%, 46%, 0.07), 0px 32px 13px 0px hsla(240, 9%, 46%, 0.01);


     @keyframes scrollVertical {
       0% {
         transform: translateY(0);
       }

       100% {
         transform: translateY(-100vh);
       }
     }

     --animate-scrollLoop: scrollVertical 30s linear infinite;
   }


   #root {
     margin: 0;
     padding: 0;
   }

   .logo {
     height: 6em;
     padding: 1.5em;
     will-change: filter;
     transition: filter 300ms;
   }

   .logo:hover {
     filter: drop-shadow(0 0 2em #646cffaa);
   }

   .logo.react:hover {
     filter: drop-shadow(0 0 2em #61dafbaa);
   }

   @keyframes logo-spin {
     from {
       transform: rotate(0deg);
     }

     to {
       transform: rotate(360deg);
     }
   }

   @media (prefers-reduced-motion: no-preference) {
     a:nth-of-type(2) .logo {
       animation: logo-spin infinite 20s linear;
     }
   }